{extend name="common/layout" /}
{block name="title"}AWS IP同步任务{/block}
{block name="main"}
<style>
    .control-label[is-required]:before {
        content: "*";
        color: #f56c6c;
        margin-right: 4px;
    }
    .tips{color: #f6a838; padding-left: 5px;}
    .record-preview{margin-top:8px;color:#666;font-size:13px;}
</style>
<div class="row" id="app">
<div class="col-xs-12 center-block" style="float: none;">
<div class="panel panel-default">
<div class="panel-heading"><h3 class="panel-title"><a href="/awssync/task" class="btn btn-sm btn-default pull-right" style="margin-top:-6px"><i class="fa fa-reply fa-fw"></i> 返回</a>{if $action=='edit'}编辑{else}添加{/if} AWS IP同步任务</h3></div>
<div class="panel-body">
  {if empty($domains)}
  <div class="alert alert-warning">暂无可用域名，请先在 <a href="/domain">域名管理</a> 中添加域名后再创建同步任务。</div>
  {/if}
  <form onsubmit="return false" method="post" class="form-horizontal" role="form" id="taskform">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>选择域名</label>
        <div class="col-sm-6">
            <div class="input-group">
                <select name="did" v-model="set.did" @change="onDomainChange" class="form-control" required>
                    <option value="">-- 请选择已添加的域名 --</option>
                    <option v-for="option in domainList" :value="option.id">{{option.label || option.name}}</option>
                </select>
                <span class="input-group-btn">
                    <button type="button" @click="loadDomainRecords" class="btn btn-info" :disabled="!set.did">读取解析记录</button>
                </span>
            </div>
            <p class="help-block tips">列表与「域名管理」中已添加的域名一致，先选域名再读取该域名下所有 A 记录。</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>选择解析记录</label>
        <div class="col-sm-6">
            <select name="recordid" v-model="set.recordid" @change="onRecordPick" class="form-control" required>
                <option value="">-- 请先读取解析记录 --</option>
                <option v-for="option in recordList" :value="option.RecordId">{{option.display}}</option>
            </select>
            <p class="record-preview" v-if="selectedRecordPreview">{{selectedRecordPreview}}</p>
            <input type="hidden" name="rr" v-model="set.rr">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>AWS 账号</label>
        <div class="col-sm-6">
            <div class="input-group">
                <select v-model="selectedAccountId" class="form-control">
                    <option value="">-- 请先读取账号列表 --</option>
                    <option v-for="acc in accountOptions" :value="acc.id">{{acc.name}} ({{acc.id}})</option>
                </select>
                <span class="input-group-btn">
                    <button type="button" @click="loadAwsAccounts" class="btn btn-default">读取账号</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>AWS 实例选择</label>
        <div class="col-sm-6">
            <div class="input-group">
                <select v-model="selectedInstanceKey" @change="onInstancePick" class="form-control">
                    <option value="">-- 请先选择账号并读取实例 --</option>
                    <option v-for="item in instanceOptions" :value="item.key">{{item.label}}</option>
                </select>
                <span class="input-group-btn">
                    <button type="button" @click="loadAwsInstances" class="btn btn-info" :disabled="!selectedAccountId">读取实例</button>
                </span>
            </div>
            <p class="help-block tips">需先在 <a href="/awssync/set">API 设置</a> 保存 Token。先选账号，再读该账号下的实例。</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>AWS Account ID</label>
        <div class="col-sm-6">
            <input type="text" name="aws_account_id" v-model="set.aws_account_id" placeholder="选择实例后自动填充" class="form-control" required readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>AWS Region</label>
        <div class="col-sm-6">
            <input type="text" name="aws_region" v-model="set.aws_region" placeholder="选择实例后自动填充" class="form-control" required readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>EC2 Instance ID</label>
        <div class="col-sm-6">
            <input type="text" name="aws_instance_id" v-model="set.aws_instance_id" placeholder="选择实例后自动填充" class="form-control" required readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" is-required>同步间隔（分钟）</label>
        <div class="col-sm-6">
            <input type="number" name="frequency" v-model="set.frequency" min="1" max="1440" class="form-control" required>
            <p class="help-block tips">计划任务触发后，按此间隔检查 AWS IP 是否与 DNS 一致。</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">备注</label>
        <div class="col-sm-6">
            <input type="text" name="remark" v-model="set.remark" placeholder="可留空，如 新加坡-1" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <input type="button" @click="save" value="保存" class="btn btn-primary">
            <a href="/awssync/set" class="btn btn-default">API 设置</a>
        </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
{/block}
{block name="script"}
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/vue-2.7.16.min.js"></script>
<script>
var info = {$infoJson|raw};
var domainList = {$domainsJson|raw};
new Vue({
    el: '#app',
    data: {
        action: '{$action}',
        set: {
            id: '',
            remark: '',
            rr: '',
            did: '',
            recordid: '',
            recordinfo: '',
            aws_account_id: '',
            aws_region: 'ap-southeast-1',
            aws_instance_id: '',
            frequency: 3,
        },
        domainList: domainList,
        recordList: [],
        selectedRecordPreview: '',
        accountOptions: [],
        selectedAccountId: '',
        instanceOptions: [],
        selectedInstanceKey: '',
        loadingRecords: false,
    },
    computed: {
        currentDomainName: function(){
            var d = this.domainList.find(function(x){ return String(x.id) === String(this.set.did); }.bind(this));
            return d ? d.name : '';
        }
    },
    mounted() {
        if(this.action == 'edit' && info){
            Object.keys(info).forEach((key) => {
                this.$set(this.set, key, info[key])
            })
            if(this.set.recordinfo){
                try {
                    var recordinfo = JSON.parse(this.set.recordinfo);
                    var host = this.set.rr === '@' ? this.currentDomainName : (this.set.rr + '.' + this.currentDomainName);
                    this.selectedRecordPreview = host + '（编辑模式，可重新读取记录）';
                    this.recordList = [{RecordId:this.set.recordid, display: this.selectedRecordPreview, rr:this.set.rr, Line:recordinfo.Line, LineName:recordinfo.LineName, TTL:recordinfo.TTL, Value:''}];
                } catch(e) {}
            }
            if(this.set.aws_account_id){
                this.selectedAccountId = this.set.aws_account_id;
            }
            if(this.set.did){
                this.loadDomainRecords(true);
            }
        }
        this.loadAwsAccounts(true);
    },
    methods: {
        onDomainChange(){
            this.set.recordid = '';
            this.set.rr = '';
            this.set.recordinfo = '';
            this.recordList = [];
            this.selectedRecordPreview = '';
        },
        onRecordPick(){
            var record = this.recordList.find(function(item){ return String(item.RecordId) === String(this.set.recordid); }.bind(this));
            if(!record) return;
            this.set.rr = record.rr || '@';
            this.set.recordinfo = JSON.stringify({Line:record.Line, LineName:record.LineName, TTL:record.TTL});
            this.selectedRecordPreview = record.display || '';
        },
        loadDomainRecords(silent){
            var that = this;
            if(!this.set.did){
                if(!silent) layer.msg('请先选择域名', {icon:0, time:800});
                return;
            }
            if(this.loadingRecords) return;
            this.loadingRecords = true;
            if(!silent) layer.closeAll('loading');
            var ii = silent ? null : layer.load(2, {shade:[0.1,'#fff']});
            $.ajax({
                type: 'POST',
                url: '/awssync/domain/records',
                data: { did: this.set.did },
                dataType: 'json',
                timeout: 120000,
                success: function(res){
                    that.loadingRecords = false;
                    if(ii) layer.closeAll('loading');
                    if(res.code != 0){
                        if(!silent) layer.alert(res.msg, {icon:2});
                        return;
                    }
                    that.recordList = res.data || [];
                    if(that.recordList.length === 0){
                        if(!silent) layer.msg('该域名下没有 A 记录，请先在 DNS 面板添加', {icon:2, time:2000});
                        return;
                    }
                    if(that.set.recordid){
                        that.onRecordPick();
                    } else if(that.recordList.length === 1){
                        that.set.recordid = that.recordList[0].RecordId;
                        that.onRecordPick();
                    }
                    if(!silent) layer.msg('已读取 '+that.recordList.length+' 条 A 记录', {icon:1, time:800});
                },
                error: function(xhr, textStatus){
                    that.loadingRecords = false;
                    if(ii) layer.closeAll('loading');
                    if(!silent){
                        var msg = (xhr.responseJSON && xhr.responseJSON.msg) ? xhr.responseJSON.msg : ('读取失败 ' + (xhr.status || textStatus));
                        layer.alert(msg, {icon:2});
                    }
                }
            });
        },
        loadAwsAccounts(silent){
            var that = this;
            if(!silent) layer.closeAll('loading');
            var ii = silent ? null : layer.load(2, {shade:[0.1,'#fff']});
            $.ajax({
                type: 'POST',
                url: '/awssync/accounts',
                dataType: 'json',
                timeout: 20000,
                success: function(res){
                    if(ii) layer.closeAll('loading');
                    if(res.code != 0){
                        if(!silent) layer.alert(res.msg, {icon:2});
                        return;
                    }
                    that.accountOptions = res.data || [];
                    if(that.selectedAccountId && that.accountOptions.some(function(a){ return a.id === that.selectedAccountId; })){
                        that.loadAwsInstances(true);
                    }else if(that.accountOptions.length === 1){
                        that.selectedAccountId = that.accountOptions[0].id;
                    }
                    if(!silent) layer.msg('已读取 '+that.accountOptions.length+' 个账号', {icon:1, time:800});
                },
                error: function(xhr, textStatus){
                    if(ii) layer.closeAll('loading');
                    if(!silent){
                        var msg = (xhr.responseJSON && xhr.responseJSON.msg) ? xhr.responseJSON.msg : ('读取失败 ' + (xhr.status || textStatus));
                        layer.alert(msg, {icon:2});
                    }
                }
            });
        },
        loadAwsInstances(silent){
            var that = this;
            if(!this.selectedAccountId){
                if(!silent) layer.msg('请先选择 AWS 账号', {icon:0});
                return;
            }
            if(!silent) layer.closeAll('loading');
            var ii = silent ? null : layer.load(2, {shade:[0.1,'#fff']});
            $.ajax({
                type: 'POST',
                url: '/awssync/instances',
                data: { account_id: this.selectedAccountId },
                dataType: 'json',
                timeout: 60000,
                success: function(res){
                    if(ii) layer.closeAll('loading');
                    if(res.code != 0){
                        if(!silent) layer.alert(res.msg, {icon:2});
                        return;
                    }
                    that.instanceOptions = (res.data || []).map(function(row){
                        return {
                            key: row.account_id + '|' + row.region + '|' + row.instance_id,
                            label: row.instance_id + ' | ' + row.region + ' | ' + (row.public_ip || '无IP') + ' | ' + (row.account_name || row.account_id),
                            row: row
                        };
                    });
                    if(that.set.aws_instance_id){
                        that.selectedInstanceKey = that.set.aws_account_id + '|' + that.set.aws_region + '|' + that.set.aws_instance_id;
                    }
                    if(!silent) layer.msg('已加载 '+that.instanceOptions.length+' 台实例', {icon:1, time:800});
                },
                error: function(xhr, textStatus){
                    if(ii) layer.closeAll('loading');
                    if(!silent){
                        var msg = (xhr.responseJSON && xhr.responseJSON.msg) ? xhr.responseJSON.msg : ('读取失败 ' + (xhr.status || textStatus));
                        layer.alert(msg, {icon:2});
                    }
                }
            });
        },
        onInstancePick(){
            var item = this.instanceOptions.find(function(x){ return x.key === this.selectedInstanceKey; }.bind(this));
            if(!item) return;
            this.set.aws_account_id = item.row.account_id;
            this.set.aws_region = item.row.region;
            this.set.aws_instance_id = item.row.instance_id;
            if(!this.set.remark && item.row.name){
                this.set.remark = item.row.name;
            }
        },
        save(){
            if(!this.set.did){
                layer.msg('请选择域名', {icon:2}); return;
            }
            if(!this.set.recordid || !this.set.rr){
                layer.msg('请选择解析记录', {icon:2}); return;
            }
            if(!this.set.recordinfo){
                this.onRecordPick();
            }
            if(!this.set.recordinfo){
                layer.msg('请先读取并选择解析记录', {icon:2}); return;
            }
            var ii = layer.load(2, {shade:[0.1,'#fff']});
            $.ajax({
                type : 'POST',
                url : '/awssync/task/' + this.action,
                data : this.set,
                dataType : 'json',
                success : function(data) {
                    layer.close(ii);
                    if(data.code == 0){
                        layer.msg(data.msg, {icon:1, time:1000}, function(){
                            window.location.href = '/awssync/task';
                        });
                    }else{
                        layer.alert(data.msg, {icon:2});
                    }
                },
                error:function(){
                    layer.close(ii);
                    layer.msg('服务器错误');
                }
            });
        }
    }
});
</script>
{/block}
